* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Adventure Time;
  src: url(../assests/Adventure\ Time.ttf);
}

@font-face {
  font-family: Adventure Time Logo;
  src: url(../assests/Adventure\ Time\ Logo.ttf);
}

body {
  background-image: url("../assests/adventureTime.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 15rem;
}

.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.lump {
  padding-top: 2rem;
}

main {
  padding: 0 2rem;
}

h1 {
  font-size: 3.8rem;
  font-family: Adventure Time Logo;
  color: #dcdcdc;
  text-align: center;
}

h3 {
  font-family: Adventure Time Logo;
  color: #dcdcdc;
  text-align: center;
}

span {
  font-family: Adventure Time;
}

a {
  text-decoration-line: none;
  border: solid black 2px;
  border-radius: 20px;
  color: black;
  font-weight: 500;
  padding: 0.5rem;
}

.adventureCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  margin: 4% 5%;
  color: black;
  background-color: #dcdcdc;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #08a1cb;
  font-weight: 900;
}

.season {
  color: #fe61cd;
  font-weight: 900;
}

.written {
  color: #fab819;
  font-weight: bold;
}

.card-text {
  color: #940f06;
  font-weight: bold;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 5rem;
  font-family: Adventure Time Logo;
  color: #dcdcdc;
  text-align: center;
  align-items: center;
}

.bemo {
  margin-left: 2rem;
}

.copy {
  margin-left: 1.5rem;
}
